
importFrom("grDevices", "col2rgb", "palette", "rgb", "chull", "n2mfrow")
importFrom("methods", "as", "is")
importFrom("parallel", "mclapply", "detectCores")
import("colorspace")

export("colourName",
       "colorName",
       "colourNames",
       "colorNames",

       "colourList",
       "colorList",
       "Rcolours",
       "X11colours",
       "SVGcolours",
       "CSScolours",
       "HTMLcolours",
       "NBScolours",
       "ReseneColours",
       # Aliases
       "Rcolors",
       "X11colors",
       "SVGcolors",
       "CSScolors",
       "HTMLcolors",
       "NBScolors",
       "ReseneColors",

       "euclideanDistance",
       "euclideanLUV",
       "euclideanRGB"

       ## "colourPlot",
       "colourSwatch",
       ## Aliases
       ## "colorPlot",
       "colorSwatch"
       )
