
importFrom("methods", "as")
importFrom("parallel", "mclapply", "detectCores")
import("colorspace")

export("colourName",

       "colourList",
       "Rcolours",
       "X11colours",
       "SVGcolours",
       "CSScolours",
       "HTMLcolours",
       "basicColours",

       "euclideanDistance",
       "euclideanLUV",
       "euclideanRGB",

       "colourPlot")
